<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav)" />
  <arg name="mode" default="outdoor" />

  <arg name="scan_mode" if="$(eval (arg('mode') == 'outdoor'))" value="Stability" />
  <arg name="scan_mode" if="$(eval (arg('mode') == 'indoor'))" value="Sensitivity" />
  <arg name="scan_mode" if="$(eval (not arg('mode') == 'indoor') and (not arg('mode') == 'outdoor'))" value="Stability" />

  <group ns="$(arg uav_name)">

    <node name="rplidar" pkg="rplidar_ros" type="rplidarNode" output="screen" respawn="true">

      <param name="serial_port" type="string" value="/dev/rplidar"/>
      <param name="serial_baudrate" type="int" value="256000"/><!--A3 -->
      <param name="frame_id" type="string" value="$(arg uav_name)/rplidar"/>
      <param name="inverted" type="bool" value="false"/>
      <param name="angle_compensate" type="bool" value="true"/>

      <!-- Sensitivity: optimized for longer ranger, better sensitivity but weak environment elimination -->
      <!-- Boost: optimized for sample rate -->
      <!-- Stability: for light elimination performance, but shorter range and lower sample rate -->
      <param name="scan_mode" type="string" value="$(arg scan_mode)"/>

      <remap from="~scan" to="~scan" />

    </node>

  </group>

</launch>
